@import url(reset.css);

body {
  color: #212529;
}
.wrap {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 640px;
}
.header {
  margin: 24px 0;
}

.main .inputForm {
  background: #e9ecef;
  border-radius: 4px;
  padding: 12px 16px;
}
.main .inputForm input {
  background: #e9ecef;
  width: 85%;
  border: none;
}
.main .inputForm .addBtn {
  background: #212529;
  width: 14%;
  height: 28px;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}

.main .list {
  margin-top: 20px;
  padding: 0 24px 0 8px;
}
.main .listItem {
  margin-bottom: 4px;
  padding: 8px 0;
}
.main .listItem::after {
  content: '';
  clear: both;
  display: block;
}
.main .checkBox {
  appearance: auto;
  display: inline-block;
}
.main .content {
  margin-left: 16px;
  display: inline-block;
}
.main .deleteBtn {
  display: inline-block;
  color: #d24816;
  font-size: 14px;
  padding: 0 10px;
}
.listItem.checked {
  text-decoration: line-through;
}
