.store-view {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 24px 24px;
  width: 100%;
  min-width: 800px;
  max-width: 1024px;
  background: $gray-0;

  &__name {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
  }

  &__clock {
    margin: 8px 0 24px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
  }

  &__store-status,
  &__menu-list,
  &__notice-window {
    height: 208px;
  }

  &__store-status {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    width: 15%;
    background: $gray-3;
  }

  &__status-mark {
    font-size: 20px;
    font-weight: 900;
  }

  &__status-btn {
    padding: 4px 0;
    background: $gray-1;
  }

  &__menu-list {
    margin: 0 16px;
    padding: 16px;
    width: calc(35% - 32px);
    background: $gray-3;
    li {
      font-size: 14px;
      margin-bottom: 12px;
    }
  }

  &__menu-status {
    display: inline-block;
    margin: 0 8px 0 2px;
    font-size: 16px;
    font-weight: 900;
    color: $blue;
  }

  &__menu-status--off {
    color: $red;
  }

  &__menu-btn {
    padding: 4px 6px 2px;
    font-size: 13px;
    background: $gray-1;
  }

  &__notice-window {
    padding: 8px 16px;
    width: 50%;
    background: $gray-3;
    overflow-y: scroll;
    p {
      font-size: 14px;
      color: $gray-7;
    }
    p:first-child {
      position: fixed;
      color: $gray-9;
      font-weight: 900;
    }
    p:nth-child(2) {
      margin-top: 20px;
    }
  }
}
