@import url(reset.css);

body {
  width: 100vw;
  height: 100vh;
  background: #000;
}
.showBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  background: #fdb927;
  font-size: 20px;
}
.showBtn {
  cursor: wait;
}
.showBtn.show {
  display: none;
  cursor: default;
}
.rosterWrap {
  display: none;
  margin: 160px auto;
  max-width: 800px;
}
.rosterWrap.show {
  display: block !important;
}
.roster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.roster li {
  background: black;
  width: 25%;
}
.roster li:hover {
  transform: scale(1.2);
}
.roster span {
  display: block;
  text-align: center;
  color: #fff;
}
.roster .label {
  display: inline-block;
}
.roster img {
  width: 100%;
}
