*, :after, :before { -webkit-box-sizing: border-box; box-sizing: border-box; }

html { overflow-y: scroll; }

body { margin: 0; font-size: 1em; line-height: 1.5; height: 100%; font-family: sans-serif; }

html, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0; padding: 0; border: 0; }

h1, h2, h3, h4, h5, h6 { font-size: 1em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

header ul, nav ul, footer ul { margin: 0; padding: 0; list-style: none; }

legend { position: absolute; font-size: 0; line-height: 0; text-indent: -9999em; overflow: hidden; }

label, input, button, select { vertical-align: middle; }

input, button { margin: 0; padding: 0; font-size: 1em; }

button, input[type='submit'] { cursor: pointer; }

button { padding: 0; border: none; font: inherit; color: inherit; background-color: transparent; cursor: pointer; }

button:focus { outline: none; }

/* input[type='checkbox'], input[type='text'], input[type='tel'], input[type='password'], input[type='submit'], input[type='image'], button, select { -webkit-appearance: none; -moz-appearance: none; appearance: none; } */
input[type='text'], input[type='tel'], input[type='password'], textarea, select { outline: none; }

textarea, select { font-size: 1em; }

select::-ms-expand { display: none; }

textarea { resize: none; border-radius: 0; -webkit-appearance: none; }

p { margin: 0; padding: 0; word-break: break-all; }

hr { display: none; }

pre { overflow-x: scroll; font-size: 1.1em; }

a:link, a:visited { text-decoration: none; }

ul, li, dl, dt, dd { padding: 0; margin: 0; }

ul, li { list-style: none; }

strong { font-weight: bold; }

body { background: #e9ecef; color: #212529; }

.store-view { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 16px 24px 24px; width: 100%; min-width: 880px; max-width: 1024px; background: #fff; }

.store-view__name { width: 100%; font-size: 24px; font-weight: 700; }

.store-view__clock { margin: 8px 0 24px; width: 100%; font-size: 18px; font-weight: 500; }

.store-view__store-status, .store-view__menu-list, .store-view__notice-window { height: 240px; }

.store-view__store-status { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 16px; padding: 16px; width: 15%; background: #dee2e6; }

.store-view__status-mark { font-size: 20px; font-weight: 900; }

.store-view__status-btn { padding: 4px 0; background: #495057; color: #fff; }

.store-view__menu-list { margin: 0 16px; padding: 16px; width: calc(40% - 32px); background: #dee2e6; }

.store-view__menu-list li { font-size: 14px; margin-bottom: 12px; }

.store-view__menu-status { display: inline-block; margin: 0 8px 0 2px; font-size: 16px; font-weight: 900; color: royalblue; }

.store-view__menu-status--off { color: tomato; }

.store-view__menu-btn { padding: 4px 6px 2px; font-size: 13px; background: #495057; color: #fff; }

.store-view__notice-window { padding: 8px; width: 45%; background: #dee2e6; overflow-y: scroll; }

.store-view__notice-window p { font-size: 14px; color: #495057; }

.store-view__notice-window p:first-child { position: fixed; color: #212529; background: #dee2e6; font-weight: 900; }

.store-view__notice-window p:nth-child(2) { margin-top: 20px; }

.store-view__notice-window .important { font-weight: 500; color: tomato; }

.store-view__notice-window .order { font-weight: 500; color: royalblue; }

.order-view { padding: 16px 24px 24px; width: 100%; min-width: 800px; max-width: 1024px; background: #fff; }

.order-view__title { display: none; width: 100%; font-size: 24px; font-weight: 700; }

.order-view__overall-status { margin-bottom: 24px; padding: 0 160px; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; font-weight: 500; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.order-view__overall-status span { display: block; font-size: 20px; font-weight: 900; }

.order-view__order-cards { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; gap: calc(5% / 4); }

.order-card { position: relative; margin-bottom: 8px; padding: 8px 8px 48px 8px; width: 19%; background: #dee2e6; text-align: center; }

.order-card .status { display: inline-block; margin: 8px 0 16px; font-weight: 900; color: royalblue; }

.order-card .text { display: block; text-align: left; font-size: 12px; color: #495057; font-style: italic; }

.order-card .text span { font-size: 13px; font-style: normal; color: #212529; }

.order-card__btn { position: absolute; left: calc(50% - 44px); bottom: 12px; padding: 4px; width: 88px; color: #fff; font-size: 14px; background: #495057; }

.order-card__btn.disabled { display: none; }

.admin-page { margin-top: 16px; padding: 0 16px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 16px; }
